.bio-title{
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 36.5%;
  transform: translate(-50%, -50%);
  font-size: 7.5em;
  color:#6effb5;
}

.bio-jumbotron{
  margin-top: 50em;
}

hr {
  margin: 0%;
  width: 50%;
  border-top: 2px solid #6effb5;
}